@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

p{
    color: #483c3c;
}
.navbar{
    max-width: 1140px;
   background-color: beige;
  margin: auto;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    text-decoration: none;
     gap: 80px;
    
}
nav ul li{
   
    list-style: none;
}
@media screen and (max-width:576px) {
    .navbar{
        margin: 0px;
    }
    .l1,.l2,.l3{
        display: none;
    }
    
}

/*banner-section*/
.banner-section{
    max-width: 1140px;
    margin: auto;
    display: flex;
    margin-top: 160px;
    align-items: center;
}
.banner-img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .banner-section{
        margin: 0px;
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
    }
    
}

/*plant section*/
.plants{
   
    max-width: 1140px;
    margin: auto;
     margin-top: 160px;
      
}
.plants h1, p{
    justify-content: center; 
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
}
.card{
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 0px 8px 6px 0px;
    width: 100%;
}
.btn{
    width: 270px;
    height: 50px;
    background-color: #E95A08;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: #d35004;
    
}
@media screen and (max-width:576px) {
    .plants{
        margin: 0px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
       
    }
    .card{
        width: 100%;
        overflow: hidden;
    }
    .btn{
        width: 100%;
    }
    
}

/*lover section*/
.lover{
    max-width: 1140px;
    display: flex;
    margin: auto;
    margin-top: 160px;
    gap: 50px;
     align-items: center;
}
.badge{
    width: 250px;
    height: 250px;
    position:absolute;
    left: 400px;
    top: 1920px;
}
.badge img{
    width: 100%;
}
.lover-content{
    width: 100%;
   
}
.lover-img{
    width: 100%;
}
.lover-content ul{
    margin-top: 50px;
}
.lover-content ul li{
    margin-top: 50px;
}
@media screen and (max-width:576px) {
    .lover{
        flex-direction: column;
        margin-top: 50px;
    }
    .badge{
        display: none;
    }
    .store-img img{
        width: 100%;
    }
    
}

/*deal section*/
.deal-section{
    max-width: 1140px;
   margin: auto;
    margin-top: 150px;
}


.deal-items{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 5px;
   
}
#deal2{
    
    background-image: url(assets/deal-ana.png);
    text-align: center;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size:100%;
     border-radius: 8px;
}
#deal1{
    background-image: url(assets/deal-bloom.png);
     text-align: center;
     color: white;
     align-items: center;
     background-size: 100%;
     background-repeat: no-repeat;
      border-radius: 8px;
}
#deal3{
    background-image: url(assets/deal-zabo.png);
    background-size: auto;
     text-align: center;
     color: white;
     align-items: center;
     border-radius: 8px;
     justify-content: center;
}
.deal-left{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;

}
@media screen and (max-width:576px) {
    .deal-items{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
    
}
